@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,500&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,600;1,600&display=swap');

:root {
    --heading-font: "Poppins", sans-serif;
    --title-font: "Raleway", sans-serif;
    --desc-font: "Open Sans", sans-serif;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 60px 0;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
}

.section-title p {
    margin: 0;
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #2a2c39;
}

.service-item {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.15);
}

.sevice-img {
    width: 100%;
    height: auto;
}

.service-info h3 {
    margin: 0;
    padding: 25px 15px 15px 15px;
    font-size: 18px;
    font-weight: 300;
    color: #00539C;
    font-family: "Raleway", sans-serif;
}

.service-info p {
    margin: 0;
    padding: 0 25px 25px 15px;
    font-size: 14px;
    color: #6e6e6e;
    font-family: "Open Sans", sans-serif;
}

.learn-more a {
    position: relative;
    margin: 0 0 30px 15px;
    text-decoration: none;
    padding: 11px 20px;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #fd9042;
    font-family: "Raleway", sans-serif;
    transition: .3s;
}

.learn-more a:hover {
    background-color: #d8742c;
    color: white;
}