.carousel-indicators [data-bs-target] {
    height: 8px !important;
    width: 8px !important;
    border-radius: 100% !important;
    margin: 0 8px !important;
}

.silder {
    display: none;
}

.sliderBtn {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #ef6603;
    font-family: "Raleway", sans-serif;
    transition: .3s;
}

.carousel-caption {
    padding-bottom: 2.25rem !important;
    bottom: 1.8rem !important;
}

@media (max-width: 768px) {
    .silder {
        display: block;
    }
}