#faq {
    padding: 60px 0;
}

.faq-list {
    margin-bottom: 16px;
    padding: 0;
}

.question {
    display: flex;
}

.faq-header .faq-title {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.faq-header .faq-title::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
}

.faq-header .faq-subtitle {
    margin: 0;
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #2a2c39;
}

.faq .faq-list .accordion {
    border-bottom: 1px solid #ececf1;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.accordion {
    cursor: pointer;
    list-style: none;
}

.collapsible-title {
    display: block;
    position: relative;
    font-size: 20px;
    line-height: 24px;
    padding-left: 10px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
}

.collapsible-title:hover {
    color: #ef6603;
}

.collapsible-text {
    max-height: 100px;
    display: none;
    overflow: hidden;
    padding: 10px 0 0 25px;
    transition: all 1s linear;
}

.question:hover~.collapsible-text {
    display: block;
}

.question:hover .arrow-icon {
    color: #ef6603;
    transform: rotate(180deg);
}

a.ask-more-btn {
    width: 110px;
    height: 45px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #ef6603;
    font-family: "Raleway", sans-serif;
    transition: .3s;
}

a.ask-more-btn:hover {
    background-color: #fc8129;
    color: white;
}