.team {
    padding: 60px 0;
    margin-left: 20px;
  }
  .team h2{
    font-weight: 500;
    padding-left: 20px;
    color:grey;font-size: 16px;
    margin: 0;
    font-family: 'Raleway',sans-serif;

  }  
  .team h4{
    font-size: 12px ;
    font-family: 'Raleway',sans-serif;
    padding-left: 20px;
    margin: 0;
    color:grey;
    margin-bottom: 10px;
  }
  

  .team p {
    margin-bottom: 0;
    padding: 20px;
    font-weight: 600;
  }

  .hr-lines:after{
        content:" ";
        height: 2px;
        width: 100px;
        background: red;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transition: 0.3s;
      }
      .hr-lines{
        position: relative;
        max-width: 160px;
        left:0;
      }

 .section-title p{
    font-size: 36px;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
  }
  .card-container .card{
    position: relative;
    overflow: hidden;
    height:100%;
    margin-bottom: 20px;
  }
.card-container .card .social-links{
  position:absolute;
  left:0;
  top:100px;
  bottom:0px;
  right:0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .social-links a {
  font-size: 20px;
  display: inline-block;
  align-content: center;
  background: #ef6603;
  color: #fff;
  padding: 8px 8px;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  transition: 0.3s;
  

}
.social-links a:hover {
  background: #bd5102;
  color: #fff;
  text-decoration: none;


}
.card-container .card .social-links:hover{
  opacity:1
}
  .card{
    border:1px solid hsl(0,0,80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0,0,0,0.1);
    margin: 10px;
    max-width: 35%; 
    overflow:auto;
    display: inline-block; 
    align-items: center;
    background-color:whitesmoke;
  }
  .card .card-img{
    max-width: 100%;
    height:300px;
    margin-bottom: 10px;

  }
  .card-container {
    width:80%;
    grid: repeat(4,1fr);
    grid-gap:20px;
    display: inline;

  }

  .card h2{
    font-family: 'poppins';
    text-align: start;

  }