.about::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #fd9042;
    margin: 4px 10px;
}

.about {
    color: black;
}

.who-we-are {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2a2c39;
}

.container h2 {
    font-family: sans-serif;
    color: black;
    font-size: 40px;
}

.container p {
    color: black;
    font-size: 22px;
    margin-top: 30px;
}

.btn-outline-warning {
    border: 2px solid #be8318;
    border-radius: 5px;
    padding: 4px;
    margin: 4px;
    color: #d99416;
    background-color: white;
    height: 57px;
    width: 200px;
    letter-spacing: 2px;
    font-weight: bold;
}

.btn-outline-warning:hover {
    background-color: #e09305;
    color: white;
    font-weight: bold;
}

.about-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .container h2 {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    .who-we-are {
        font-size: 24px;
    }

    .container-text h2 {
        font-size: 22px;
    }

    .container h2 {
        font-size: 24px;
    }

    .container p {
        font-size: 14px;
    }

    .btn-outline-warning {
        height: 50px;
        width: 180px;
        font-size: 14px;
    }
}
