@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#footer {
  background: #14151c;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footer-content {
  width: 80%;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
}

#footer h1 {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 18px;
  font-style: italic;
  padding: 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
  text-align: center;
}

#footer .social-links a {
  font-size: 20px;
  display: inline-block;
  align-content: center;
  background: #ef6603;
  color: #fff;
  padding: 8px 8px;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  

}

.links a {
  font-size: 16px;
  color: white;
  margin-right: 14px;
  text-align: center;
  list-style: none;
  transition: 0.3s ease-in-out;
line-height: 2;

}

#footer .links a:hover {
  color: #fff;
  text-decoration: none;
  left: -100%;
  font-size: 12px;
  transform: scale(1.2);



}

#footer .social-links a:hover {
  background: #bd5102;
  color: #fff;
  text-decoration: none;


}
.footer-content .contact-us a {
  color: #bd5102;
  display: flex;
  justify-content: center ; 
  font-size: 20px;
  
}